* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 50%;
  padding: 10px;
  margin: auto;
}

.nav {
  position: fixed;
  top:0;
  left:0;
  height: 70px;
  width:  100%;
}

img {
  width: 70px;
}

ul {

  list-style: none;
  line-height: 70px;
  text-align: center;
  background-color: silver;
}
ul.menu a {
  text-decoration: none;
}
ul.menu li.active {
  border-bottom: 2px solid green;
}
li {
  display: inline-block;
  padding: 10px;
  color: blue;
}
.city {
  position: relative;
  background-image:url(../img/palermo-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
  margin: 5px;
}
.tokyo {
  background-image: url(../img/Centro-di-tokyo-cosa-fare-e-vedere-0.jpg);
}
.newyork {
  background-image: url(../img/newyork.jpg);
}
.opacity {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7)
}
.city:hover {
  cursor: pointer;
}
.city:hover .opacity{
  background: rgba(0,0,0,0)
}

.name {
  display: inline-block;
  position: absolute;
  color:white;
  font-size: 80px;
  top :50%;
  left:50%;
  transform:translate(-50%,-50%);
}
p {
  text-shadow:   2px  2px 4px black;
}
